backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/tmp/
frontend/out-tsc/
frontend/npm-debug.log*
frontend/yarn-error.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.env